* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --base-black: #121212;
    --black-50: #3A3A3A;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Regular.otf');
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('./font2/CabinetGrotesk-Medium.otf');
}

body {
    position: relative;
    font-family: sat;
    font-family: 'Satoshi', sans-serif;

}


.blur-purple {
    background-color: red;
    /* position: absolute; */
    /* width: 100vw;
       height: 100vh;
       background-color: red; */
}

.purple-blur {
    width: 70px;
    height: 70px;
    background: linear-gradient(100.96deg, #693FC2 -1.85%, #807EF0 42.43%, #173DE7 99.49%);
    position: absolute;
    filter: blur(50px);
}

.purple-blur:nth-of-type(1) {
    top: 200px;
    left: 200px;
}

.purple-blur:nth-of-type(2) {
    right: 100px;

}

.purple-blur:nth-of-type(3) {
    top: 200px;
    right: 600px;
}

.purple-blur:nth-of-type(4) {
    left: 100px;
    top: 450px;
}

.purple-blur:nth-of-type(5) {
    top: 400px;
    right: 600px;
}

.purple-blur:nth-of-type(6) {
    top: 300px;
    right: 0px;
}


/* -----------HEADER------ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: fixed;
    width: 100vw;
    height: 6rem;
    z-index: 999;
    padding: 0 4rem;
}

/* header> *{
    flex:  1 1 100%;
} */


button {
    cursor: pointer;
 
}

.logo img {
    max-width: 90px;
}

ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
}

li {
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
justify-content: flex-end;
}

.buttons button:nth-of-type(1) {
    display: flex;
    background-color: transparent;
    border: none;
    gap: 10px;
    align-items: center;
}

.buttons img {
    width: 10px;
}

button p {
    background: linear-gradient(100.96deg, #693FC2 -1.85%, #807EF0 42.43%, #173DE7 99.49%);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 16px;
}

.normal-button {
    background: linear-gradient(100.96deg, #693FC2 -1.85%, #807EF0 42.43%, #173DE7 99.49%);
    border: none;
    width: 10rem;
    height: 3rem;
    color: white;
    font-weight: 700;
    font-size: 16px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ============hero section ========================================================== */
.hero {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-image: url('./images/Noise effect.png');
    background-repeat: repeat;
}

.hero h1 {
    text-align: center;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 40px;
    max-width: 45rem;
    line-height: 3.7rem;
    margin: 0 auto;
    word-spacing: 3px;
    color: var(--base-black);

    letter-spacing: 1.1px;
}

.hero p:nth-of-type(1) {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    max-width: 35rem;
    margin: 0 auto;
    color: var(--black-50);
    margin-top: 1rem;
}

.hero p:nth-of-type(2) {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    max-width: 35rem;
    margin: 0 auto;
    color: var(--black-50);
    margin-top: 3rem;
}

.hero .normal-button {
    margin: 0 auto;
    margin-top: 2.5rem;
}

/* ================================ TRADE VOLUMES ========================== */
.trade-volumes {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.td-item>h3 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
}

.td-item>small {
    color: #616161;
    font-size: 11px;
    font-weight: 500;
    margin-top: 1rem;
}



/* ========================= CRYPTO ASSETS==================== */

.crypto-assets {
    /* border: 2px solid red; */
    padding: 2rem 4rem;
}


.crypto-assets>h1 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 30px;
}


.crypto-assets>p {
    font-weight: 400;
    font-size: 14px;
    max-width: 32rem;
    opacity: 0.8;
}

.cards-container {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cards {
    max-width: 18rem;
    background-image: url('./images/Noise effect.png');
    padding: 5rem 2rem;
}

.cards img {
    width: 60px;
}

.cards:nth-of-type(1) {
    background-color: black;
    color: whitesmoke;
}

.cards h3 {
    font-size: 24px;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    max-width: 8rem;
    font-weight: 700;
}

.cards p {
    font-size: 12px;
    max-width: 18rem;

}


.crypto-assets button {
    margin-top: 3rem;
}


/* ===================================MULTI -CHAIN========================== */
.multi-chains {
    margin-bottom: 9rem;
    overflow: hidden;
}

.mu-ch-header {
    padding: 2rem 4rem;

}

.mu-ch-header h1 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.mu-ch-header p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #3A3A3A;
    max-width: 30rem;
    margin-top: 0.5rem;
}

.flow-container {
    display: flex;
    justify-content: space-between;
    animation: marquee 10s infinite linear;
    /* notice the infinite */
    margin-bottom: 3rem;
}

.flow-containe2 {
    display: flex;
    justify-content: space-between;
    animation: marquee2 10s infinite linear;
    /* notice the infinite */
}

.f-con-item {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 100px;

    display: flex;
    align-items: center;

    height: 4rem;
    gap: 1.2rem;

    padding-left: 1rem;
    padding-right: 2.3rem;

}

.f-con-item>img {
    max-width: 40px;
}

.f-con-item>p {
    font-weight: 500;
    font-size: 14px;
}

@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(100%)
    }
}

/* =======================MYSELF============ */
.myself {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 45rem;

    margin: 4rem auto;
}

.myself>p {
    font-weight: 400;
    font-size: 18px;
    margin-top: 1.4rem;

    text-align: center;
}

.myself>h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 1rem;
}

.myself small {
    font-weight: 500;
    font-size: 14px;
    color: #616161;
    margin-top: 10px;
}

.myself button {
    margin-top: 1rem;
}

/* ===================== FOOTER */
.end {
    background-color: black;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #D0D0D0;
    ;

}

.logo-end {
    margin: 0rem auto;
    max-width: 100px;
}

.end ul {
    padding: 0;
    list-style: none;
    margin-top: 2rem;
    display: flex;

    justify-content: space-between;
    padding: 0 8rem;
}

.black-line {
    background-color: rgb(43, 43, 43);
    width: 90%;
    height: 0.8px;
    margin: 6rem auto 1rem auto;
}

.end-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 2rem auto 0 auto;
}

.end-footer>div:nth-of-type(1) {
    display: flex;
    font-weight: 400;
    font-size: 16px;

    gap: 2rem;
}

.v-line {
    background-color: rgb(43, 43, 43);
    height: 4rem;
    width: 0.8px;
}

.end-footer>div:nth-of-type(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    font-size: 24px;
}